nav {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    align-items: center;
    text-align: center;
    padding-block: 20px;

    & ul img[src*="MagnifyingGlass"] {
        margin-left: auto;
    }
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

nav ul li:last-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}